.contact-form__content {
    margin: 0 auto;
    padding: 30px 15px;
}

.contact-form__heading {
    margin-bottom: 40px;
    text-align: center;
    color: #624510;
    font-family: serif;
}

.form {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.form__group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form__group-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form__label--item {
    color: #9a8153;
}

.form__label--required {
    color: red;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--name input{
    margin: 0px auto;
    padding: 10px;
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 3px;

    appearance: none;
}

.form__input--text input {
    padding: 10px;
    width: 500px;
    border: 1px solid #ddd;
    border-radius: 3px;

    appearance: none;
}

.form__input--tel input {
    margin: 5px;
    padding: 10px;
    width: 150px;
    border: 1px solid #ddd;
    border-radius: 3px;

    appearance: none;
}

.form__input--select option{
    margin: 5px;
    padding: 10px;
    width: 400px;
    border: 1px solid #ddd;
    border-radius: 3px;

    appearance: none;
}

.form__input--textarea textarea {
    padding: 10px;
    width: 500px;
    border: 1px solid #ddd;
    border-radius: 3px;

    appearance: none;
}

.form__button-submit {
    padding: 10px;
    width: 20%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: #a06e13;
    color: #fff;
    cursor: pointer;
}